apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  labels:
    app: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: payment-service
        image: 905418111634.dkr.ecr.eu-west-1.amazonaws.com/springboot-kafka-microservices/payment-service:latest
        ports:
        - containerPort: 8083
          name: http
        env:
        - name: DB_URL
          valueFrom:
            configMapKeyRef:
              name: payment-service-config
              key: DB_URL
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: payment-service-config
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: payment-service-secret
              key: DB_PASSWORD
        - name: KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: payment-service-config
              key: KAFKA_BOOTSTRAP_SERVERS
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api/payments
            port: 8083
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /api/payments
            port: 8083
          initialDelaySeconds: 30
          periodSeconds: 5
          failureThreshold: 3


